<div class="container">
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8 mt-5">
            <p class="lead font-weight-bold display-4 text-center mt-5">

                <span class="text-danger">
                    404</span>-Page Not Found
            </p>
            <p class="text-center">
                <a [routerLink]="'/home'" class="btn btn-primary btn-lg mt-5"> Go To Home 
                <i class="fas fa-home"></i>
                </a>
            </p>
        </div>
    </div>
</div>