.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
 }
 
 .row > div[class*='col-'] {
   display: flex;
 }
 .heading{
    background-color: #e2e2e2;
    text-align: center;
    font-weight: bold;
}