.nav-item {
    padding : 0 1rem;
    transition: 0.2s ease-in;
    border-radius: 5px;
    font-size: large;
}

.nav-item:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.img{
    width : 48vw;
    height : auto; 
}

.rise{
    transition: 0.2s ease-in-out;
}

.rise:hover{
    transform: translateY(-3px);
    color: rgb(81, 183, 190);
}

.height{
    height: 220px;
}