.heading{
    background-color: #e2e2e2;
    text-align: center;
    font-weight: bold;
}
.img{
    width : 20vw;
    height : auto; 
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
  }